{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Personal portfolio" />
    <meta name="author" content="http://www.chucklapress.com" />
    <meta name="p:domain_verify" content="a7802a2864004f6ba64c21b99f45cd89"/>

    <title>Personal portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="app/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<header>
		<!-- /////////////////////////////////////////Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		        <!-- Nav -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		        </div>
		        <!-- Nav collapse -->
		        <div class="collapse navbar-collapse" id="menu">
		            <ul class="nav navbar-nav navbar-left">
		                <li><a href="{% url 'index_view' %}">Home</a></li>
		                <li><a href="{% url 'about_view' %}">About</a></li>
		                <li><a href="{% url 'contact_view' %}">Contact</a></li>
		            </ul>
                <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.facebook.com/chuck.lapress/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/chucklapress/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/chucklapress/"><i class="fa fa-github"></i></a></li>
                </ul>
		        </div>
		        <!-- /.navbar-collapse -->
		    </div>
		    <!-- /.container -->
		</nav>
		<!-- Navigation -->
	</header>
  <br>
  <br>
  <br>
  <br>
    <div align="center">
    <h3>the original <img src="app/images/chef.png" width="150" height="100" alt="software"> </h3>
  </div>
    <br>
    <div align="center">
      <br>
        <img src="app/images/chuck.jpeg" width="600" height="550" alt="Chef"><h5>from sirloin strips to python scripts</h5>
      </div>
      <div align="center">
        <p>The long and sordid tale is <a href="https://medium.com/@charleslapress/giving-up-managing-servers-for-managing-servers-41041a779246">HERE</a> to learn about my past</p>
        <br>
      </div>
      <div class="container" align="center" style="background-color:powderblue;">
      <div align="justify">
        <h4>How about those skills</h4>
        <br>
      <p>I have spent the last couple of years developing voice applications for the Alexa smart speakers. <h5> ✔️</h5></p>
      <p>I author applications for businesses using Amazon's Alexa to notify customers of updates and changes. <h5>✔️</h5><p>
      <p>utilizing both custom applications as well as news style flash briefings to get messages to customers. <h5>✔️</h5></p>
      <p>Having been involved in the AWS eco-system, I've gained valuable exposure to the whole array of microservices. <h5>✔️</h5><p>
      <p>NoSQL databases, serverless deployment tools, and the tools to operate fully in a cloud enviroment. <h5>✔️</h5></P>
      <p>Utilizing Django and python tasks such as automations and scrapes I am capable of returning fresh content. <h5>✔️</h5></p>
      <p>I have also developed other very useful tools for customers using serverless lambda, amazon lexbots. <h5>✔️</h5></p>
      <p>contact centers with Amazon Connect as well as utilizing AWS dash buttons for trigger actions for tasks. <h5>✔️</h5></p>
      </div>
    </div>
      <br>
      <br>
      <br>
      <footer>
        <div class="wrap-footer">
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    <!-- jQuery -->
    <script src="app/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="app/js/bootstrap.min.js"></script>
    </script>
  </body>
</html>
