{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Personal portfolio" />
    <meta name="author" content="http://www.chucklapress.com" />

    <title>Personal portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="app/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<header>
		<!-- /////////////////////////////////////////Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		        <!-- Nav -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="https://github.com/chucklapress">GitHub repo</a>
		        </div>
		        <!-- Nav collapse -->
		        <div class="collapse navbar-collapse" id="menu">
		            <ul class="nav navbar-nav navbar-left">
		                <li><a href="{% url 'index_view' %}">Home</a></li>
		                <li><a href="{% url 'about_view' %}">About</a></li>
		                <li><a href="{% url 'contact_view' %}">Contact</a></li>
		            </ul>
                <ul class="nav navbar-nav navbar-right">>
                <li><a href="https://www.facebook.com/chuck.lapress/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/chucklapress/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/chucklapress/"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/u/0/101086311451444509214/"><i class="fa fa-google-plus"></i> </a></li>
                </ul>

		        </div>

		        <!-- /.navbar-collapse -->
		    </div>
		    <!-- /.container -->
		</nav>
		<!-- Navigation -->
	</header>
  <br>
  <br>
  <br>
  <br>
    <div class="container">
    <h4>So what is he really about</h4>
  </div>
  <hr>
  <div class="row box-item">
    <div class="col-md-5">
      <img src="app/images/chuckdad.jpg" width="350" height="350" alt="chuckdad"></div>

    <div class="col-md-5">
      <h4>A short introduction</h4>
      <span>I have been an accomplished chef, a business starter, an owner, but now im doing what im really passionate about !</span>
      <br>
      <p>I have a real love for learning and feel that there is so much to engage in the ever changing world of technology.</p>
      <p>I've done some self study in databases, attended a twelve week boot camp in Python and Django frameworks and find my appetite
      stronger every day.</p>
      <p>The world of programming is ever evolving and im eager to learn and engage.</p>
      <p>Technologies I have worked with: Python, Django, Django Rest frame works, SQL, Mongo DB, HTML5, CSS, JavaScript</p>
      <p>I have recently been spending time working on projects that stream data between Mongo and Elasticsearch, and creating topics in Kafka</p>
      <p>I have spent years managing people and projects from planning on paper to being solely responsible for multi million dollar businesses</p>








  </body>
</html>
