{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Personal portfolio" />
    <meta name="author" content="http://www.chucklapress.com" />
    <meta name="p:domain_verify" content="a7802a2864004f6ba64c21b99f45cd89"/>

    <title>Personal portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="app/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<header>
		<!-- /////////////////////////////////////////Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		        <!-- Nav -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		        </div>
		        <!-- Nav collapse -->
		        <div class="collapse navbar-collapse" id="menu">
		            <ul class="nav navbar-nav navbar-left">
		                <li><a href="{% url 'index_view' %}">Home</a></li>
		                <li><a href="{% url 'about_view' %}">About</a></li>
		                <li><a href="{% url 'contact_view' %}">Contact</a></li>
		            </ul>
                <ul class="nav navbar-nav navbar-right">>
                <li><a href="https://www.facebook.com/chuck.lapress/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/chucklapress/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/chucklapress/"><i class="fa fa-github"></i></a></li>
                </ul>
		        </div>
		        <!-- /.navbar-collapse -->
		    </div>
		    <!-- /.container -->
		</nav>
		<!-- Navigation -->
	</header>
  <br>
  <br>
  <br>
  <br>
    <div class="container">
  <br>
      <div align="center">
      <img src="app/images/phonemail1.png" width="250" height="230" alt="phone"></div>

    <div class="container" align="center">
      <div align="center">
      <h3>My Contact Information</h3>
      <span>Thanks so much for your interest in my work, I would love for you to reach out to discuss how I can help you.</span>
      <br>
      <br>
      <p>Charles LaPress 29 Butler Springs Road Greenville SC</p>
      <p>(864) 304-0561 email: charleslapress@gmail.com<a href= "mailto:charleslapress@gmail.com">  send email</a></p>
      <p> I am available all the time to answer any questions</p>
      <p>I would love to discuss positions both on site and remote doing</p><p> programming, project management and support<p>
      </div>
      <br>
      <h4>Social media links</h4>
      <div align="center">
      <span><h4><a href="https://www.facebook.com/chuck.lapress/"><i class="fa fa-facebook"></i></a></h4><h4><a href="https://www.linkedin.com/in/chucklapress/"><i class="fa fa-linkedin"></i></a></h4><h4><a href="https://github.com/chucklapress/"><i class="fa fa-github"></i></a></h4></span>


  </div>
</div>
    <br>
    <footer>
      <div class="wrap-footer">
        <div class="container">
          <div class="row">
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer -->
  <!-- jQuery -->
  <script src="app/js/jquery-1.11.3.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="app/js/bootstrap.min.js"></script>
  </script>


  </body>
</html>
