{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Personal portfolio" />
    <meta name="author" content="http://www.chucklapress.com" />
    <meta name="p:domain_verify" content="a7802a2864004f6ba64c21b99f45cd89"/>

    <title>Personal portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="app/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<header>
		<!-- /////////////////////////////////////////Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		        <!-- Nav -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		        </div>
		        <!-- Nav collapse -->
		        <div class="collapse navbar-collapse" id="menu">
		            <ul class="nav navbar-nav navbar-left">
		                <li><a href="{% url 'index_view' %}">Home</a></li>
		                <li><a href="{% url 'about_view' %}">About</a></li>
		                <li><a href="{% url 'contact_view' %}">Contact</a></li>
		            </ul>
                <ul class="nav navbar-nav navbar-center">>
                <li><a href="https://www.facebook.com/chuck.lapress/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/chucklapress/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/chucklapress/"><i class="fa fa-github"></i></a></li>
                </ul>
		        </div>
		        <!-- /.navbar-collapse -->
		    </div>
		    <!-- /.container -->
		</nav>
		<!-- Navigation -->
	</header>
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		<div class="container">
			<div class="heading">
				<h3>print('Hello World')</h3>
				<span>Chuck LaPress portfolio of work</span>
			</div>
			<div class="content">
				<div class="row box-item">
					<div class="col-md-6">
						<img src="app/images/tipplyapp.png" alt="">
					</div>
					<div class="col-md-6">
						<h3>Welcome to TIPPLY</h3>
						<span>web app designed to assist restaurant owners with staff and turnover</span>
						<p>This app was my final project of the bootcamp program. It was the second app that I launched on Heroku and was a blending of a number of django projects</p>
						<a href="https://tipply-app.herokuapp.com/" class="btn btn-primary">View Project</a>
					</div>
				</div>
				<hr>
				<div class="row box-item">
					<div class="col-md-6">
						<img src="app/images/alexa.png" alt="">
					</div>
					<div class="col-md-6">
						<h3>Listing of Amazon Alexa applications</h3>
						<span>This is the landing page in the Amazon store of the Alexa applications that I have authored</span>
						<p>Each application is live with a hyperlink to description and details</p>
						<a href="https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Dalexa-skills&field-keywords=Bev" class="btn btn-primary">View Projects</a>
					</div>
				</div>
				<hr>
				<div class="row box-item">
					<div class="col-md-6">
						<img src="app/images/wherethetrucknew.png" alt="">
					</div>
					<div class="col-md-6">
						<h3>Where the Truck</h3>
						<span>This is the vendor web portal for entering daily locations information for the Where the Truck Alexa app, API and postgresql DB </span>
						<p>Front end design is all HTML, CSS and a tiny bit of JS.</p>
						<a href="https://www.wherethetruck.is/" class="btn btn-primary">View Project</a>
					</div>
				</div>
        <div class="content">
  				<div class="row box-item">
  					<div class="col-md-6">
  						<img src="app/images/wherethetruck.png" alt="">
  					</div>
  					<div class="col-md-6">
  						<h3>Where the Truck</h3>
  						<span>Vendor portal for paying subscriptions and updating daily locations of food truck locations</span>
  						<p>This portal allows vendors to login to update daily changes in location and menus for truck locations all over the world, the voice application is live in the US, UK, as well as Canada, India and Australia</p>
  						<a href="https://wherethetruckgvl.herokuapp.com/" class="btn btn-primary">View Project</a>
  					</div>
  				</div>
  				<hr>
  				<div class="row box-item">
  					<div class="col-md-6">
  						<img src="app/images/lunarosa.png" alt="">
  					</div>
  					<div class="col-md-6">
  						<h3>Luna Rosa Gelato daily menu updates</h3>
  						<span>Self hosted flask site for RSS feed for menu changes</span>
  						<p>This site is self hosted and provides the RSS feed for a flash briefing and custom voice application to notify customers of daily menu changes It is gathered utilizing Selenium and hosted by a simple Flask server</p>
  						<a href="https://lunarosa.herokuapp.com/" class="btn btn-primary">View Project</a>
  					</div>
  				</div>

			</div>
		</div>
	</div>
	<!-- /////////////////////////////////////////Footer -->
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->
<!-- jQuery -->
<script src="app/js/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="app/js/bootstrap.min.js"></script>
</script>
</body>
</html>
