/*!
Free Bootstrap Themes : http://www.365bootstrap.com
 */

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #ffffff; color: #333333;font-size: 16px; font-family: Arial, Helvetica, sans-serif}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a{color: #337AC6;text-decoration: none;}
a:hover {opacity: 0.9; text-decoration: none;}

h1 {font-size: 55px;}
h2 {font-size: 45px;}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 20px;}

p{margin-bottom: 20px;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

hr{border: 1px solid #eee;margin: 0 0 25px 0;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content {margin: 100px 0 50px 0;}
#page-content .heading {border-bottom: 1px solid #eee;margin-bottom: 30px;}
#page-content .heading h2 {display: inline-block;}
#page-content .content {}
#page-content .box-item {}
#page-content .box-item img {margin-bottom: 30px ;}
#page-content .box-item h3 {margin: 0 0 10px 0;font-size: 26px;}
#page-content .box-item  span {font-weight: bold;font-size: 18px;margin-bottom: 80px;}

#page-content .pagination {border-bottom: 1px solid #eee;border-top: 1px solid #eee;padding: 40px 0;display:block;text-align: center;}
#page-content .pagination ul li {display: inline-block;margin-bottom: 20px;}
#page-content .pagination ul li a {border: 1px solid #999;padding: 10px 15px;background-color: #fff; color: #337AB7;font-size: 14px;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-khtml-border-radius: 3px;}
#page-content .pagination ul li a:hover {background-color: #CCC;}
#page-content .pagination  li.active a{background: #337AB7;color: #fff;}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {}
footer .wrap-footer {padding-bottom: 50px;}
